DATABASE_URL=postgres://localhost:5432/legaledit?sslmode=disable
FILES_DIR=/Users/CHANGEME/legaledit/docs
PUBLIC_API_URL=http://localhost:8080
INTERNAL_API_URL=http://host.docker.internal:8080
ONLYOFFICE_INTERNAL_URL=http://localhost:8082
ONLYOFFICE_PUBLIC_URL=http://localhost:8082
SERVER_ADDR=:8080
WEB_DIR=./web
